
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import "~datatables.net-bs4/css/dataTables.bootstrap4";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4";
@import "~datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4";

@import "~jquery-typeahead/src/jquery.typeahead";

html, body {
    height: 100%;
}

main.container {
    padding-top: 1em;
}

.btn-discord {
    color: $white;
    background-color: #7289DA;
}

.btn-discord:hover {
    color: $white;
    filter: brightness(105%);
}
